<h1>Experience</h1>
<hr>
<br>
<div class="card">
    <div class="card-body">
        <div class="float-container">
            <div class="float-child">
                <img src="assets\quartic.jpg" style="width: 50px; height: 50px;">
            </div>
            <div class="float-child-2">
                <div>
                    <h5 class="card-title">Quartic Solutions</h5>
                </div>
                <div>
                    <p class="card-subtitle mb-2 text-muted">San Diego, CA</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body" style="padding-left: 5rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h6 class="card-subtitle mb-2 text-muted">GIS Architect</h6>
                <i>Jan 2021 – Present</i>
                <p class="card-text">Planning, development, implementation, and maintenance of cloud
                    and on premises enterprise GIS solutions for public and private sector clients.
                    Consult with IT, project, and program management on GIS solution design and architecture.</p>
            </li>
            <li class="list-group-item">
                <h6 class="card-subtitle mb-2 text-muted">Senior GIS Programmer Analyst</h6>
                <i>Jan 2017 – Jan 2021</i>
                <p class="card-text">Programming, testing, implementation, and maintenance of desktop and web GIS applications, tools, 
                    and associated databases for public and private sector clients. Technical lead on project design, code review, 
                    and testing of GIS applications. Lead GIS technical team meetings.</p>
            </li>
            <li class="list-group-item">
                <h6 class="card-subtitle mb-2 text-muted">GIS Programmer Analyst</h6>
                <i>Oct 2014 – Jan 2017</i>
                <p class="card-text">Programming, testing, and maintenance of desktop and web GIS applications in support of public safety and Fire prevention agencies.</p>
            </li>
        </ul>
    </div>

    <div class="card-footer text-muted">
        <i>{{ getDateDiff("10/01/2014") }}</i>
    </div>
</div>

<br>
<br>

<div class="card">
    <div class="card-body">
        <div class="float-container">

            <div class="float-child">
                <img src="assets\county.png" style="width: 50px; height: 50px;">
            </div>

            <div class="float-child-2">
                <div>
                    <h5 class="card-title">County of San Diego</h5>
                </div>
                <div>
                    <p class="card-subtitle mb-2 text-muted">San Diego, CA</p>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body" style="padding-left: 5rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h6 class="card-subtitle mb-2 text-muted">GIS Graduate Intern</h6>
                <i>Jul 2013 – Oct 2014</i>
                <p class="card-text">Analyzed public health-related geospatial data using ArcGIS 10.x software 
                    for HHSA Office of Strategy and Innovation. Automated mapping solutions using Python 2.6.x</p>
            </li>
        </ul>
    </div>

    <div class="card-footer text-muted">
        <i>{{ getDateDiff("07/01/2013", "10/01/2014") }}</i>
    </div>
</div>