<h1>Projects</h1>
<hr>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Personal Portfolio Vers 2.0</h5>
        <h6 class="card-subtitle text-muted">A personal web portfolio written in Angular for displaying work.</h6>
    </div>
    <!--
    <img alt="" src="assets/portfoliov2.png"
        style="width:100%; height:250px; object-fit: cover;object-position: right top; opacity:0.8;">
        -->
    <div class="card-body">
        <p class="card-text">The portfolio that you are viewing was written in Angular Framework v10 and deployed to
            Github pages using the Angular Cli.</p>
    </div>
    <div class="card-body">
        <h6 class="card-text">Technology</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><img alt="" src="assets/angular.png" class="responsive-img"/> Angular</li>
            <li class="list-group-item"><img alt="" src="assets/npm.png" class="responsive-img"/> Npm</li>
            <li class="list-group-item"><img alt="" src="assets/nodejs.png" class="responsive-img"/> NodeJs</li>
        </ul>
    </div>
    <div class="card-body">
        <a href="#" class="card-link">Github</a>
    </div>
    <div class="card-footer text-muted">
        July 2021
    </div>
</div>


<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">ArcGIS Data Refresh Gen 4.0</h5>
        <h6 class="card-subtitle text-muted">Client project for managing data manifest for ArcGIS data refresh (ADR)
            operations for County of San Diego.</h6>
    </div>
    <img alt="" src="assets/adrg4-01.png"
        style="width:100%; height:350px; object-fit: cover;object-position: right top; opacity:0.8;">
    <div class="card-body">
        <p class="card-text">Developed a solution to provide the County to have a more transparent data management tool
            so that users (all COSD users) can check for quality, and currency of a dataset, e.g., users could check
            when parcels or addresses were last updated.</p>
    </div>
    <div class="card-body">
        <h6 class="card-text">Technology</h6>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><img alt="" src="assets/csharp.png" class="responsive-img"/> C#</li>
            <li class="list-group-item"><img alt="" src="assets/dotnet.png" class="responsive-img"/> .NET 5</li>
            <li class="list-group-item"><img alt="" src="assets/python.png" class="responsive-img"/> Python</li>
            <li class="list-group-item"><img alt="" src="assets/arcgis.png" class="responsive-img"/> ArcGIS</li>
            <li class="list-group-item"><img alt="" src="assets/sqlserver.png" class="responsive-img"/> SQL Server</li>
        </ul>
    </div>
    <div class="card-body">
        <a href="#" class="card-link">Github</a>
    </div>
    <div class="card-footer text-muted">
        Febrary - August 2021
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">County of San Diego</h5>
        <h6 class="card-subtitle mb-2 text-muted">ArcGIS Enterprise - Upgrade</h6>
        <p class="card-text">Provided GIS consultant support on Enterprise ArcGIS Upgrade for the County of San Diego.
            Worked in collaboration with system architects, DBA, and development team to implement a highly available
            implementation of ArcGIS Enterprise.</p>
    </div>
    <div class="card-footer text-muted">
        Aug 2019 – Nov 2019
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">City of Chula Vista</h5>
        <h6 class="card-subtitle mb-2 text-muted">ArcGIS Enterprise - Cloud Build</h6>
        <p class="card-text">Designed and built an ArcGIS Enterprise 10.7.1 cloud solution for the City of Chula Vista
            using Azure Government Cloud.</p>
    </div>
    <div class="card-footer text-muted">
        Sep 2019 – Oct 2019
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Film LA</h5>
        <h6 class="card-subtitle mb-2 text-muted">ArcGIS Enterprise - Cloud Build</h6>
        <p class="card-text">Co-developer on a four person project to develop a public application for FilmLA. Performed
            setup and implementation of ArcGIS Enterprise 10.7.1 stack on Linux VM's in a cloud environment.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
    <div class="card-footer text-muted">
        Jul 2019 – Aug 2019
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">City of San Diego</h5>
        <h6 class="card-subtitle mb-2 text-muted">ArcGIS Enterprise - Upgrade</h6>
        <p class="card-text">Lead developer on an upgrade of ArcGIS Enterprise software to 10.6.1 for the City of San
            Diego. Coordinated technical requirements to multiple vendors on network, hardware, and infrastructure
            support in support of Department of IT.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
    <div class="card-footer text-muted">
        Sep 2018 – Jul 2019
    </div>
</div>