img.responsive-img {
    margin: 0 auto;
    max-height: 100px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

h4 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
    padding-bottom: 20px;
}