<div class="card" style="width: 90%; padding: 15px;">
    <div class="card-content skills first">
        <h4 class="brown-text light">Languages</h4>
        <div class="row text-center">
          <div class="col s4 m2"><img alt="" src="assets/python.png" class="responsive-img">Python</div>
          <div class="col s4 m2"><img alt="" src="assets/csharp.png" class="responsive-img">C#</div>
          <div class="col s4 m2"><img alt="" src="assets/javascript.png" class="responsive-img">JavaScript</div>
          <div class="col s4 m2"><img alt="" src="assets/html.png" class="responsive-img">HTML</div>
          <div class="col s4 m2"><img alt="" src="assets/css3.png" class="responsive-img">CSS</div>
        </div>
      </div>
  <div class="card-content skills">
    <h4 class="brown-text light">Frameworks</h4>
    <div class="row text-center">
      <div class="col s4 m2"><img alt="" src="assets/angular.png" class="responsive-img">Angular</div>
      <div class="col s4 m2"><img alt="" src="assets/dotnet.png" class="responsive-img">DotNet</div>
      <div class="col s4 m2"><img alt="" src="assets/jquery.png" class="responsive-img">jQuery</div>
      <div class="col s4 m2"><img alt="" src="assets/bootstrap.png" class="responsive-img">Bootstrap</div>
    </div>
  </div>
<!-- </div>
<div class="card"> -->
  <div class="card-content  skills">
    <h4 class="brown-text light">Backend</h4>
    <div class="row text-center">
      <div class="col s4 m2"><img alt="" src="assets/nodejs.png" class="responsive-img">Node</div>
      <div class="col s4 m2"><img alt="" src="assets/postgresql.png" class="responsive-img">PostgreSQL</div>
      <div class="col s4 m2"><img alt="" src="assets/sqlserver.png" class="responsive-img">SQL Server</div>
    </div>
  </div>
<!-- </div>
<div class="card"> -->
  <div class="card-content skills">
    <h4 class="brown-text light">Technology</h4>
    <div class="row text-center">
        <div class="col s4 m2"><img alt="" src="assets/arcgis.png" class="responsive-img">ArcGIS</div>
      <div class="col s4 m2"><img alt="" src="assets/linux.png" class="responsive-img">Linux</div>
      <div class="col s4 m2"><img alt="" src="assets/git.png" class="responsive-img">Git</div>
      <div class="col s4 m2"><img alt="" src="assets/npm.png" class="responsive-img">NPM</div>
    </div>
  </div>
</div>