
.circle {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  h5{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#social_img {
    max-width: 25px;
    max-height: 25px;
}
ul li {
    display:inline-block;
    padding: 10px;
}
.card {
    margin: auto;
    text-align: center;
    object-fit: cover;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

li.logo {
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
    box-sizing: content-box;
    min-height: 90px;
    padding: 30px 30px 40px;
}